<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>{{category.name}}</h1>
    <img class="detailimage" src={{category.image}} />
    <p class="biggertext">{{category.description}}</p>

    <div class="link-div">
      <a
        class="buttonlink sidemargin"
        href="/categories/delete/{{category._id}}"
      >Delete Category</a>
      <a
        class="buttonlink sidemargin"
        href="/categories/update/{{category._id}}"
      >Update Category</a>
    </div>

    {{#if related_items}}
      <h2>All Items of {{category.name}} Category:</h2>
      <div class="list-container">
        <ul class="itemlist">
          {{#each related_items}}
            <li>
              <a href="/items/{{this._id}}">{{this.name}}</a>
              <img src={{this.image}} />
            </li>
          {{/each}}
        </ul>
      </div>

    {{/if}}

  </body>
</html>