<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Update Item</h1>
    <form method="POST" action="">
      <div class="form-item">
        <label for="itemname">Name</label>
        <input
          type="text"
          name="name"
          id="itemname"
          required
          placeholder="Item Name"
          value="{{item.name}}"
        />
      </div>
      <div class="form-item">
        <label for="itemdescription">Description</label>
        <textarea
          rows="20"
          cols="5"
          required
          name="description"
          id="itemdescription"
          placeholder="Item Description"
        >{{item.description}}</textarea>
      </div>
      <div class="form-item">
        <label for="itemcategory">Category</label>
        <select name="category" id="itemcategory">
          required
          {{#each categories}}
            <option value={{this._id}}
            {{#eq @root.item.category.name this.name}} selected {{/eq}}
            >{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-item">
        <label for="itemprice">Price</label>
        <input
          type="number"
          name="price"
          id="itemprice"
          min="0"
          max="9999"
          step="0.01"
          required
          value={{item.price}}
        />
      </div>
      <div class="form-item">
        <label for="itemstock">Stock</label>
        <input
          type="number"
          name="stock"
          id="itemstock"
          min="0"
          max="9999"
          required
          value={{item.stock}}
        />
      </div>
      <div class="form-item">
          <label for="itemimage">Image URL</label>
          <input type="text" name="image" id="itemimage" required value={{item.image}} placeholder="Image URL">
      </div>
      <div class="form-item">
        <input type="hidden" name="id" value={{item._id}} required>
      </div>
      <div class="form-item">
        <input class="buttonlink"type="submit" value="Update" />
      </div>
    </form>
  <div class="error-div">
      <ul class="error-list">
        {{#each errors}}
          <li>{{this.msg}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>